@font-face {
    font-family: montserrat;
    src: url(../assets/fontMontSerrat.otf);
}
* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-menu-container {
    width: 22%;
    height: 100vh;
    background-color: #01677E;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}
.sidebar-menu {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.user-container {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.user-container .user-icon {
    width: 5rem;
    height: 5rem;
    background-image: url(../assets/profile-picture.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.user-container span {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    word-spacing: .2rem;
}
.items-container {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.items-container ul li {
    font-size: 1rem;
}
.items-container ul li:hover {
    font-weight: bolder;
}
.items-container ul li a {
    text-decoration: none;
    color: white;
}
.items-container ul li .current {
    font-weight: bolder;
}
.page-content {
    width: 80%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .page-content .open-slide {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
} */
.page-content span {
    width: 45%; 
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}
.form-container {
    width: 50%;
    height: 70%;
    /* padding: 20px 30px; */
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form-columns {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form .form-element {
    margin: 5px 0px;
}
.form .form-element label {
    font-size: 14px;
    color: #222;
}
.form .form-element input, select {
    margin-top: 5px;
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.form .form-row button {
    /* padding: 10px; */
    width: 46.5%;
    height: 2.5rem;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}
.form .form-row button:hover {
    background-color: #eceaea;
    color: #222;
}
