@font-face {
    font-family: montserrat;
    src: url(../assets/fontMontSerrat.otf);
}
* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-menu-container {
    width: 22%;
    height: 100vh;
    background-color: #01677E;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
}
.sidebar-menu {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.user-container {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.user-container .user-icon {
    width: 5rem;
    height: 5rem;
    background-image: url(../assets/profile-picture.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.user-container span {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    word-spacing: .2rem;
}
.items-container {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.items-container ul li {
    font-size: 1rem;
}
.items-container ul li:hover {
    font-weight: bolder;
}
.items-container ul li a {
    text-decoration: none;
    color: white;
}
.items-container ul li .current {
    font-weight: bolder;
}
.page-content {
    width: 80%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.page-title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-title .title {
    width: 70%; 
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}
.select-machine-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .4rem;
}
.select-machine-container label {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    padding-right: 1rem;
}
.select-machine-container select {
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.cards-container {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 25%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: .2rem solid #ccc;
    padding: .2rem 0rem .3rem 0rem;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    transition: .3s;
    cursor: pointer;
}
/* .card:hover {
    border: .2rem solid #01677E;
} */
.card.active {
    border: .2rem solid #01677E;
}
.card-title {
    font-size: 1.3rem;
    font-weight: 600;
}
.card-status {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 1rem;
    height: 1rem;
}
.box.green {
    background-color: rgb(3, 119, 3);
}
.box.yellow {
    background-color: rgb(226, 226, 3);
}
.box.red {
    background-color: rgb(194, 2, 2);
}
.graph-container {
    width: 99%;
    height: 50%;
    padding: .3rem;
    border: .2rem solid #01677E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}
.graph-title-container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.graph-title {
    height: 10%;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.graph-desc {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-container {
    width: 110%;
    display: flex;
}
.graph {
    position: relative;
    width: 72%;
    border-bottom: .15rem solid #01677E;
    border-left: .15rem solid #01677E;
}
canvas {
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
.graph #chart_ram,
.graph #chart_disco,
.graph #chart_cpu {
    display: none;
}
