@font-face {
    font-family: montserrat;
    src: url(../assets/fontMontSerrat.otf);
}
* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
html {
    scroll-behavior: smooth;
}

/* Modal */
.register-dark-body-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 3;   
}
.active-register-dark-body-container {
    visibility: visible;
    opacity: 1;
    transition: top 0ms ease-out 0ms,
                opacity 200ms ease-out 0ms,
                transform 200ms ease-out 0ms;
}
.register-container {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 30rem;
    padding: 20px 30px;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    z-index: 3;
}
.register-container.active {
    top: 52%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.close-register-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.login-dark-body-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.active-login-dark-body-container {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    transition: top 0ms ease-out 0ms,
                opacity 200ms ease-out 0ms,
                transform 200ms ease-out 0ms;
}
.login-container {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.login-container.active {
    top: 52%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.close-login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.form {
    width: 100%;
    margin-right: 5%;
}
.form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.form-columns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form .form-element {
    margin: 5px 0px;
}
.form .form-element label {
    font-size: 14px;
    color: #222;
}
.form .form-element input, select {
    margin-top: 5px;
    display: block;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.form .form-element button {
    width: 50%;
    height: 2.5rem;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}
.form .form-element button:hover {
    background-color: #eceaea;
    color: #222;
}
/* FIM DO MODAL */

.header-image {
    background-image: url(../assets/imagemHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.header-container {
    width: 100%;
    transition: 0.5s;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
    color: #FAFAFA;
    transition: 0.5s;
}
.fixed-header {
    position: fixed;
    background-color: #01677E;
    z-index: 2;
    width: 100%;
    height: 11%;
}
.header span {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1%;
    color: #FAFAFA; 
}
.header-items {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    margin-top: 2%;
}
.header li {
    cursor: pointer;
    color: #FAFAFA;
    transition: 0.5s;
}
.header li a {
    text-decoration: none;
    color: #FAFAFA;
}
.header li:hover {
    font-weight: bolder;
    font-size: large;
}
.current {
    font-weight: bolder;
    font-size: large;
}
.open-slide {
    display: none;
}
.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #222;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 3.75rem;
    transition: 0.5s;
}
.sidebar ul {
    padding: 0.625rem 0.625rem 0.625rem 1.875rem;
    list-style: none;
    font-size: 1rem;
    color: #ccc;
    transition: 0.3s;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.sidebar-close {
    position: absolute;
    top: 0;
    left: 1.375rem;
    margin-right: 3.125rem;
    font-size: 1.375rem;
    text-decoration: none;
    padding: 0.625rem 0.625rem 0.625rem 1.875rem;
    color: #ccc;
}
.sidebar ul li:hover {
    color: #fff;
    font-size: 1.05rem;
}
.container-como-funciona {
    height: 95vh;
    background-color: #FAFAFA;
}
.page-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3%;
}
.page-title {
    height: 45%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-title .title {
    line-height: 1.4;
    font-weight: 600;
    font-size: 2.5rem;
    color: #f8f7f7;
    text-shadow: 4px 5px 22px #eceaea;
}
.page-title .description {
    line-height: 1.5;  
    font-weight: 400;
    font-size: 1.25rem;
    color: #fafafae8;
}
.work-process-container {
    background-color: #eceaea;
    height: 95vh;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.centered-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-process-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #020710;
} 
.work-process-title span {
    color: #41566e;
}
.work-process-subtitle {
    font-size: 16px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.623);
    margin-top: 3%;
}
.line {
    background-color: #01677E;
    height: 0.2rem;
    width: 10rem;
    margin-top: 3%;
    margin-bottom: 16%;
}
.phases-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.arrow{
    animation: arrow 2s;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    from{
        transform: translateX(0rem);
    }
    50%{
        transform: translateX(-1rem);
    }
    to{
        transform: translateX(0rem);
    }
}
.arrow img {
    height: 7rem;
    width: 7rem;    
}
.steps {
    height: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step-image img {
    height: 11rem;
    width: 11rem;
}
.rocket-div {
    margin-top: 2.5%;
}
.rocket-image img {
    height: 9rem;
    width: 9rem;
}
.step-title {
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
}
.step-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}
.about-us-container{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    background: linear-gradient(150deg, rgb(6, 65, 77), rgb(24, 95, 110), rgb(33, 72, 82));
    padding-bottom: 5rem;
}
.about-us-title{
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    margin-top: 5rem;
    margin-left: 15rem;
    color: #FAFAFA;   
}
.about-us-subtitle{
    display: flex;
    font-size: 16px;
    line-height: 32px;
    color: #FAFAFA;
    margin-top: 3%;
    margin-left: 2.5rem;
    width: 95%;
    visibility: hidden;
    text-align: justify;
}
.about-us-subtitle img{
    width: 30rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 1rem;
}
.line-about-us {
    background-color: #FAFAFA;
    height: 0.2rem;
    width: 15rem;
    margin-top: 3%;
    margin-left: 12.7rem;
    margin-bottom: 1%;
}
footer {
    background-color: #01677E;
    width: 98.5%;
    height: auto;
    padding: 0.625rem;
    color: #FCFEF0;
}
.footerContent {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footerContent p {
    max-width: 28.125rem;
    margin: 0.438rem auto;
    line-height: 1.438rem;
    font-size: 0.875rem;
}
.footerBottom {
    width: 100%;
    padding: 0.938rem 0;
    text-align: center;
}
.footerBottom p {
    font-size: 0.875rem;
    word-spacing: 0.125rem;
    text-transform: capitalize;
}
.footerBottom span {
    text-transform: uppercase;
    font-weight: 200;
}

@media (max-width: 1300px) {
    .header-items {
        width: 60%;
    }
}

@media (max-width: 850px) {
    .open-slide {
        display: block;
    }
    .header-items {
        display: none;
    }
    .page-title {
        height: 50%;
        width: 80%;
        justify-content: space-between;
    }
    .page-title .title {
        line-height: 1.8;
        font-size: 1.5rem;
    }
    .page-title .description {
        line-height: 1.8;
        font-size: 1rem;
    }
    .phases-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .arrow {
        display: none;
    }
}
