@font-face {
    font-family: montserrat;
    src: url(./assets/fontMontSerrat.otf);
}
* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
html {
    scroll-behavior: smooth;
}
.header-image {
    background-image: url(./assets/imagemHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}
.header-container {
    width: 100%;
    transition: 0.5s;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
    color: #FAFAFA;
    transition: 0.5s;
}
.fixed-header {
    position: fixed;
    background-color: #01677E;
    z-index: 2;
    width: 100%;
    height: 11%;
}
.header span {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1%;
    color: #FAFAFA; 
}
.header ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 2%;
}
.header li {
    cursor: pointer;
    color: #FAFAFA;
    transition: 0.5s;
}
.header li a {
    text-decoration: none;
    color: #FAFAFA;
}
.header li:hover {
    font-weight: bolder;
    font-size: large;
}
.current {
    font-weight: bolder;
    font-size: large;
}
.container-como-funciona {
    height: 95vh;
    background-color: #FAFAFA;
}
.page-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3%;
}
.page-title {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-title .title {
    line-height: 1.4;
    font-weight: 600;
    font-size: 40px;
    color: #f8f7f7;
    text-shadow: 4px 5px 22px #eceaea;
}
.page-title .description {
    line-height: 1.5;  
    font-weight: 400;
    font-size: 20px;
    color: #fafafae8;
}
.work-process-container {
    background-color: #eceaea;
    height: 95vh;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.centered-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-process-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #020710;
}
.work-process-title span {
    color: #41566e;
}
.work-process-subtitle {
    font-size: 16px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.623);
    margin-top: 3%;
}
.line {
    background-color: #01677E;
    height: 0.2rem;
    width: 10rem;
    margin-top: 3%;
    margin-bottom: 16%;
}
.phases-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.arrow img {
    height: 7rem;
    width: 7rem;    
}
.steps {
    height: 5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step-image img {
    height: 11rem;
    width: 11rem;
}
.rocket-div {
    margin-top: 2.5%;
}
.rocket-image img {
    height: 9rem;
    width: 9rem;
}
.step-title {
    font-size: 27px;
    font-weight: 600;
    line-height: 50px;
}
.step-subtitle {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.623);
}

