@font-face {
    font-family: montserrat;
    src: url(./assets/fontMontSerrat.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

.header-image {
    background-image: url(./assets/imagemHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}

.header-container {
    width: 100%;
    transition: 0.5s;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
    color: #FAFAFA;
    transition: 0.5s;
}

.fixed-header {
    position: fixed;
    background-color: #01677E;
    z-index: 2;
    width: 100%;
    height: 11%;
}

.header h1 {
    font-weight: bolder;
    margin-top: 1%;
}

.header ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 2%;
}

.header li {
    cursor: pointer;
    transition: 0.5s;
}
.header li:hover {
    font-weight: bolder;
    font-size: large;
}
.current {
    font-weight: bolder;
    font-size: large;
}
.container-como-funciona {
    height: 95vh;
    background-color: #FAFAFA;
}
.page-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3%;
}
.page-title {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-title .title {
    line-height: 1.4;
    font-weight: 600;
    font-size: 40px;
}
.page-title .description {
    line-height: 1.5;  
    font-weight: 400;
    font-size: 20px;
}
.work-process-container {
    background-color: #eceaea;
    height: 95vh;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}
.centered-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-process-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #020710;
}
.work-process-title span {
    color: #41566e;
}
.work-process-subtitle {
    font-size: 16px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.623);
    margin-top: 3%;
}
.line {
    background-color: #01677E;
    height: 0.2rem;
    width: 10rem;
    margin-top: 3%;
}
.phases-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.step1 {
    
}

