@font-face {
    font-family: montserrat;
    src: url(./assets/fontMontSerrat.otf);
}

* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

.headerImage {
    background-image: url(./assets/imagemHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95vh;
}

.headerContainer {
    width: 100%;
    transition: 0.5s;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
    color: #FAFAFA;
    transition: 0.5s;
}

.fixedHeader {
    position: fixed;
    background-color: #01677E;
    z-index: 2;
    width: 100%;
    height: 11%;
}

.header h1 {
    font-weight: bolder;
    margin-top: 1%;
}

.header ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 2%;
}

.header li {
    cursor: pointer;
    transition: 0.5s;
}
.header li:hover {
    font-weight: bolder;
    font-size: large;
}
.current {
    font-weight: bolder;
    font-size: large;
}
.containerComoFunciona {
    height: 95vh;
    background-color: #FAFAFA;
}
.pageTitleContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3%;
}
.pageTitle {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pageTitle .title {
    line-height: 1.4;
    font-weight: 600;
    font-size: 40px;
}
.pageTitle .description {
    line-height: 1.5;  
    font-weight: 400;
    font-size: 20px; 
}
.containerTitulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.containerTitulo h1 {
    margin-top: 2%;
}
.msgfuncao{
    background-color: grey;
    height: 7cm;
    width: 15cm;
    align-items: center;
    display: flex;
    border-radius: 1cm;
}
.box{
    background-color: gray;
    height: 8cm;
    width: 11cm;
    align-items: center;
    display: flex;
    border-radius: 1cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    }
.boxes{
    display: flex;
    justify-content: space-between;
}

.footer{
    background-color:gray ;
    width: 100%;
    height: 2cm;
}
.msgfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2cm;
}



